body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.container{
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.colorDisplay {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.slider {
    display: block;
    margin: 10px 0;
}

button{
    background-color: blue;
    color: #ccc;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: backgroundo-color 0.3s;
    font-weight: bold;
}

button:hover{
    background-color: aqua;
}

button:active{
    background-color: aquamarine;
}